@font-face {
	font-family: 'Questrial-Regular';
	src: url('../../../app/fonts/Questrial/Questrial-Regular.eot');
	src: local('☺'), url('../../../app/fonts/Questrial/Questrial-Regular.woff') format('woff'), 
    url('../../../app/fonts/Questrial/Questrial-Regular.ttf') format('truetype'), 
    url('../../../app/fonts/Questrial/Questrial-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../../../app/fonts/Montserrat/Montserrat-Bold.eot');
	src: local('☺'), 
    url('../../../app/fonts/Montserrat/Montserrat-Bold.woff') format('woff'), 
    url('../../../app/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype'), 
    url('../../../app/fonts/Montserrat/Montserrat-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}