html {
    scroll-behavior: smooth;
}

header {

    // Barra de navegacion
    .navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 10px 0;

        .navbar-options {
            @media (max-width: 769px) {
                display: none;
            }
            
            &__list {
                display: flex;
                li {
                    margin-left: 20px;
                }
            }
        }

    }

}

main {

    // Banner
    .hero {
        background-color: $primary;
        height: 85vh;
        width: 100%;

        .hero-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;

            &__title {
                color: $white;
                letter-spacing: 10px;
                text-align: center;
            }

            &__text {
                color: $white;
                letter-spacing: 6px;
                line-height: 24px;
                text-align: center;
                padding: 20px 0 50px;
                font-size: 1rem;
                @media (max-width: 500px) {
                    font-size: 0.8rem;
                }
            }
        }
    }

    .gallery {
        padding: 60px 0;

        .gallery-grid {
            display: flex;
            justify-content: center;
        }

        .gallery-categories {
            display: flex;
            flex-direction: column;
            
            &__list {
                display: flex;
                flex-direction: row;
                justify-content: center;
                padding: 20px 0;
                @media (max-width: 500px) {
                    justify-content: flex-start;
                    padding: 20px 20px;
                    overflow-x: scroll;
                }

                .active {
                    background-color: $primary;
                    color: $white;
                }
            }

            &__content {

                .content__all, 
                .content__branding, 
                .content__web, 
                .content__photo, 
                .content__app  {
                    column-count: 3;
                    column-gap: 40px;
                    orphans: 1;
                    widows: 1;
                    width: 45%;
                    margin: 0 auto;

                    &.column{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }

                    @media (max-width: 1440px) {
                        column-count: 3;
                        column-gap: 20px;
                        orphans: 1;
                        widows: 1;
                        width: 80%;
                    }

                    @media (max-width: 1200px) {
                        column-count: 3;
                        orphans: 1;
                        widows: 1;
                        width: 95%;
                    }

                    @media (max-width: 769px) {
                        column-count: 2;
                        column-gap: 40px;
                        orphans: 1;
                        widows: 1;
                        width: 90%;
                    }

                    @media (max-width: 500px) {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
    
    
                    .img-content {
    
                        &__title {
                            display: none;
                        }
    
                        &__width {
                            width: 370px;
                            margin-bottom: 10px;
                            @media (max-width: 1200px) {
                                width: 320px;
                            }
                        }
    
                    }
                }

            }

        }
    }

}

footer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;

    p {
        color: $white3;
        letter-spacing: 5px;
        span {
            color: $primary;
        }
    }
    ul {
        display: flex;
        flex-direction: row;
        li {
            margin: 0 10px;
        }
    }

}